// CONTAINER
$mw: 500px;
$newMw: $mw + 30px;

// DEFAULT FONT  =>  in BASE
$font-family: 'Inter', sans-serif;

// DEFAULT FONT-WEIGHT  =>  in BASE
$font-weight: 500;

// DEFAULT FONT-SIZE  =>  in BASE
$font-size: 16px;

// DEFAULT FONT-COLOR  =>  in BASE
$color: #D5D4D8;
